<html>
<head>
  <title>Memory Game</title>
</head>
<body>
  <h1>Memory Game</h1>
  <div id="boardMainDiv">
  </div>
  <div id="scoreMainDiv">
  </div>
  <div id="clickMainDiv">
  </div>
  <p class="col-md-2 col-md-offset-2" id="resetBtnMainPara">
  </p>
</body>
</html>
