/* This file is for your main application css. */

@import "bootstrap";

.side { padding: 4ex; text-align: center; }
h1 { text-align: center; }

#memory_board{
background-color: black;
width:80%;
height:80%;


}
